<div id="wrapper">
	<div class="clear">
		<a id="allproducts" href="/products/">All Products</a>
		<a id="startover" href="/">Add a Product</a>
	</div>

	<div id="gif">
		<img src="<%= s3_url%>" />
		<p>title: <%= title %></p>
		<p>cost: <%= cost %></p>
		<p>quantity: <%= quantity %></p>
	</div>
</div>