<div id="wrapper" class="clear">
    <div class="clear">
        <a id="topallproducts" href="/products">All Products</a>
    </div>

    <div class="clear">
        <div class="left">
            <div id="dealwithit">
                <div class="canvas-wrapper">
                    <canvas class="canvas"></canvas>
                    <div class="overlay"></div>
                    <img id="loading" src="./img/loading.gif" />
                </div>
            </div>
        </div>
        <div class="right">
            <div class="buttons clear">
                    <div class="filepicker">
                        <input class="fileselect" type="file" name="" capture="camera" accept="image/*" multiple />
                        <a class="loadimage" class="button" href="#"><span>Select Image</span></a>
                        <p class="ordrop">(or drag and drop)</p>
                    </div>
                </div>
                <div id="options">
                    <div class="option producttitle clear">
                        <p>title</p>
                        <input type="text" placeholder="product title" />
                    </div>
                    <div class="option productcost clear">
                        <p>cost</p>
                        <input type="text" placeholder="cost per unit" />
                    </div>
                    <div class="option productquantity clear">
                        <p>quantity</p>
                        <input type="text" placeholder="number available" />
                    </div>
                </div>
                
                <a id="makegif" class="button inactive" href="#"><span>Submit</span></a>

                <div id="productlink">
                    <a href="/">Product Link</a>
                </div>

                <div id="allproducts">
                    <a href="http://162.243.220.110/products/">All Products</a>
                </div>

                <div id="startover">
                    <a href="/">Add Another</a>
                </div>
            </div>
        </div>
    </div>
</div>